body, main, header, p, h1, h3{
    margin:0; 
    padding:0;
    border:0;
}

body{
    background-color: #f2d9d0;
}

main{
    background-color: #fff;
    margin:0 3%;
    padding: 2%;
    border: 3px solid #1d040f
}

h1{
    font-size: 30px;
    text-align: center;
    padding: 3%;
}

/* Animation */ 
button {
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to top, #fff , #c4c4c4);
    width: 200px;
    cursor: pointer;
  }
.square {
    width: 100px;
    height: 100px;
    background-color: #fbdae9;
    margin: 20px;
    animation-name: color;
    animation-duration: 5s;
  }
  
@-webkit-keyframes color {
from { background-color: #fbdae9; }
to { background-color: #660b32; }
}

@keyframes color {
from { background-color: #fbdae9; }
to { background-color: #660b32; }
}

.square:hover {
transform: translate(80px);
}












